/*
** Doc : https://dev.to/overscoremedia/use-bulma-and-fontawesome-5-with-nuxt-js-11le
*/
@import "~bulma/sass/utilities/_all";
@import "table.scss";
@import "player.scss";

$primary: #96031A;
$primary-invert: findColorInvert($primary);

$black: #1B1B1E;

$link: #6E0313;
$link-invert: findColorInvert($link);

$light: #6D676E;
$light-invert: findColorInvert($light);

$dark: hsl(0, 0%, 15%);
$dark-invert: findColorInvert($dark);

$strong-color: $dark;

$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "link": ($link, $link-invert),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert)
);

$footer-padding : 3rem 1.5rem 4rem;

//needed for the brand logo (play&drink)
$navbar-item-img-max-height: 5rem;

//reduce the padding of hero-body
$hero-body-padding : 1.5rem;

@import '~bulma';

.has-background-primary-gradient {
  background: linear-gradient(90deg, $primary 0%, $link 40%, $primary 100%);
}

.main {
  min-height: 78vh;
}

.box-shadow-lift:hover {
  .button {
    box-shadow: 0 1rem 2rem 0 rgba(10,10,10,.1);
    transform: translateY(-.25rem);
  }

}

.navbar.has-shadow {
  box-shadow: 0 1px 6px 0 $black;
}

.navbar.is-black .navbar-dropdown.is-black .navbar-menu.is-black{
  background-color: #1B1B1E !important;
}

.navbar-item.is-black .navbar-link.is-black {
  color: #fff;
}

.navbar-item.is-black:hover {
  color: #000;
}

.container.has-shadow {
  box-shadow: 0 1px 6px 0 $black;
}

.icon {
  &.share-facebook:hover {
    color: #3b5998 !important;
  }
  &.share-twitter:hover {
    color: #00acee !important;
  }
}

.text-opinion {
  margin-bottom: 0.6em !important;
  font-size: 0.9em;
}

//Page add-player rond rouge et noir
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  &.black {
    background-color: $black;
  }
  &.red {
    background-color: $primary;
  }
}

//Page add-player : input checkbox switch
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $primary;
}

input:focus + .slider {
  box-shadow: 0 0 1px $primary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
